<app-player-header></app-player-header>
<div class="container text-left" >
   <button class="nav-item nav-link-edit btn btn-danger" [routerLink] = "['/player-add']">Add</button>
</div>
<div *ngFor="let team of teams;let i = index"  class="container text-left">
  <h4>{{ team.Name }}</h4>
  <div >
    <button class="btn btn-success btn-sm" (click)="toggle(i)">
      {{hideRuleContent[i] ?  'Collapse':'Expand'}}
    </button>
</div>
<div *ngIf="hideRuleContent[i]">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let player of players" cdkDrag>
      <div *ngIf="team.TeamID == player.TeamID"  class="example-box">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{ player.FirstName }}
            {{ player.LastName }}&nbsp;&nbsp;
            {{ player.JerseyNumber }}&nbsp;&nbsp;
            {{ player.HeightFeet + '\'' }}{{ player.HeightInches + '\"'}}&nbsp;&nbsp;
            {{ player.Weight }}&nbsp;&nbsp;
            {{ player.Position }}&nbsp;&nbsp;
            {{ player.College }}&nbsp;&nbsp;
            <button class="nav-item nav-link-edit btn btn-primary" [routerLink] = "['/player-detail', player.PlayerID]">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>



