
 <app-team-header></app-team-header>
 <div class="container text-left">
  <button class="btn btn-danger" [routerLink] = "['/team-add']">Add</button>
</div>
 <div class="container">
    <table class="table" >
      <thead>
        <!-- <tr>
          <th>Name</th>
        </tr> -->
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
            <td><h4>{{ team.Name }}</h4></td>
            <td><button class="nav-item nav-link-edit btn btn-primary" [routerLink] = "['/team-detail', team.TeamID]">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>

